* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 gray;
    transition: background-color 0.3s ease, color 0.3s ease;
}

select {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container p,
.container h1{
    color: white;
}

button {
    padding: 10px;
    background-color: gray;
    color: white;
    font-size: 18px;
}

body.dark-mode {
    background-color: #121212;
}

body.dark-mode .container {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode button {
    background-color: #333;
}

body.dark-mode label,
body.dark-mode p {
    color: white;
}


body.dark-mode select {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

#dark-mode-toggle {
    background-color: #444;
}